html {
    scroll-behavior: smooth;
}

body{
    background-color: floralwhite;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

/* Title + Navbar */
.header{
    display: flex;
    justify-content: space-around;
}

.header ul{
    display: flex;
}

.nav-bar ul li{
    list-style-type: none;
    background-color: floralwhite;
    border-radius: 20px;
    display: block;
    padding: 14px 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;;
}

.nav-bar ul li:hover{
    background-color: #d5e2a9;
}

.nav-bar ul li a{
    text-decoration: none;
    color: black;
}

/* Mobile Header + Nav */
.mobileHeader{
    display: none;
    justify-content: space-between;
}

.mobileHeader button{
    background-color: white;
    border: none;
    font-size: 34px;
    margin-top: 20px;
}

.mobileHeader button:hover{
    cursor: pointer;
}

/* Landing */

.landing{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.landing-content{
    position: relative;
    z-index: 2;
}

.landing-button{
    background-color: none;
    border-radius: 20px;
    display: block;
    padding: 14px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease-in;
    color: black;
    text-decoration: none;
    border: solid;
}

.landing-button:hover{
    color: white;
    background-color: black;
    transition: color 0.1s ease-in;
    border-color: black;
}

/* About */

#intro{
    border-radius: 25px;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

#intro .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro img{
    width: 100%;
    border-radius: 25px;
}

#intro .intro-text{
    border-radius: 25px;
    padding: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #cbe3b3;

}

#intro .intro-text h2{
    font-size: 30px;
}

#intro .intro-text p{
    font-size: 20px;
}

/* Projects */

#projects {
    text-align: center;
}
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }
  
  .project-card {
    background-color: rgb(255, 242, 215);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .project-card h3 {
    margin: 10px 0;
  }
  
  .project-card p {
    font-size: 16px;
    color: #444;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .project-card a {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 16px;
    margin: 5px;
    background-color: black;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
  }

  .project-card a:hover{
    color: black;
    background-color: white;
    transition: background-color 0.2s ease-in;
  }

/* Photography */
.photo{
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 20px;
    padding: 10px;
}

#mobileNav {
		display: none;
}
	
.mobileNavBar {
    background-color: #FFE8D6;
    position: relative;
    border: 1px solid;
    border-color: #FFE8D6;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#siteName {
    font-family: Didot;
    align-self: center;
    font-size: 1rem;
    color: #FF9F1C;
    text-align: center;
}

#hamburgerDiv {
    align-self: center;                
}

#hamburgerBtn {
    background-color: white;
    font-size: 32px;
    border: 10px;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
}

#theLinks {
    background-color: rgba(255, 145, 0, 0.409);
    display: none;
    text-align: center;
    border-radius: 10px;
}

#theLinks a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: didot;
    font-size: 20px;
    font-weight: bold;
}

#theLinks a:hover{
    color: black;
}

@media only screen and (max-width: 768px) {
	#mobileNav {
		display: block;
	}
}
@media (max-width: 768px) {
    .nav-bar {display: none;}
    .web-title{display: none;}
}

.contact {
    background-color: #fcb046;
    margin: 20px;
    padding: 10px;
    font-family: Didot;
    border-radius: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }

input[type=submit] {
    background-color: #c1815f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #c77244;
  }
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@font-face {
    font-family: 'Wagon Bold';
    src: url('fonts/Wagon-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@media only screen and (max-width: 961px) {
	.mobileHeader {
		display: flex;
	}
}
@media (max-width: 961px) {
    .header{display: none;}
}
